body{
    padding: 0;
    margin:0;
    text-align: center;
    background-color: grey;
}


.container{
    display: flex;
    flex-direction: column;
    margin: 0 9%;
    background-color: #fff;
}

.navbar{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 10px;
    margin: 0;
}

.navlogo{
    font-size: 24px;
    color: #f9faf8;
    padding-left: 30px;
}

.navlinks{
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding-right: 30px;

}

a{
    text-decoration: none;
    color: #f9faf8;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 90px;
}

.heroBox{
    display: flex;
    flex-basis: 400px ;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;

}

h1{
    font-size: 48;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;

}
.subtext{
   
}

.push-it{
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.aussie{
    width: 450px;
    height: 300px;
    text-align: center;
}

.content{
margin: 65px 0 ;
background-color: #fff;
}

h2{
    text-align: center;
}

.pics{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
    
}

.text{
    text-align: center;
    max-width: 200px;
}


.img{
    height: 150px;
    width: 150px;
    border: 3px solid #1f2937;
    border-radius: 5px;
    margin: 0;
}

.quote{
    background-color: #e5e7e8 ;
    font-size: 30px;
    margin: 0;
    padding: 0 40px;
    
}

.inspiring{
    text-align: left;
    margin: 0 15px;
    padding-top: 25px;
    font-weight: lighter;
    font-style: italic;
}
.author{
    margin-left: 50%;
   
}

.signup{
    display: flex;
    background-color: #3882f6;
    margin: 50px 75px;
    padding: 10px 150px;
    border-radius:10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


/* 
h3{
color: #fff;
} */
.callToAction{
    color: #fff;
    text-align: left;
    padding: 20px;
}

h3{
    margin: 0;
}

#signUp{
    margin: 0;
}

.signUp-btn{
    display: block;
    text-align: center;
    width: 110px;
    border: 2px solid white;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer{
    background-color: #1f2937;
    color: #e5e7e8;
    text-align: center;
}